@model Associacao.App.Models.PessoaViewModel

@{
    ViewData["Title"] = "Cadastrar pessoa";
}

<h3>@ViewData["Title"]</h3>
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <partial name="_DadosFormulario" />
                <div class="form-group col-md-1">
                    <input type="submit" value="Salvar" class="btn btn-primary" style="margin-top: 60px" />
                </div>
            </div>            
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $("#ImagemUpload").change(function () {
            $("#img_none").text(this.files[0].name);
            $("#img_none")[0].style.display = 'block';
        });

        $("#ImagemUpload").attr("data-val", "true");
        //$("#ImagemUpload").attr("data-val-required", "Preencha o campo imagem");
    </script>

}
